<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TallerFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TallerFinal.styles.css" asp-append-version="true" />
    <link href="~/css/sidebar_style.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/logopng.png" type="image/x-icon">
</head>  
<body>
    <div class="sidebar close">
        <div class="logo-detalle">
            <i>
                <img src="~/img/logopng.png" alt="" width="39px" />
            </i>
            <span class="nombre_logo">Colch Star</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a asp-controller="Proveedors" asp-action="Index">
                        <i class="bx bxs-phone"></i>
                        <span class="link_name">Proveedores</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="iocn-link">
                    <a asp-controller="Clientes" asp-action="Index">
                        <i class="bx bx-child"></i>
                        <span class="link_name">Clientes</span>
                    </a>
                </div>

            </li>
            <li>
                <div class="iocn-link">
                    <a asp-controller="Compras" asp-action="Index">
                        <i class="bx bxs-cart-download"></i>
                        <span class="link_name">Compras</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="iocn-link">
                    <a asp-controller="Ventum" asp-action="Index">
                        <i class="bx bx-credit-card-alt"></i>
                        <span class="link_name">Ventas</span>
                    </a>
                </div>
            </li>

            <li>
                <div class="perfil-detalles">
                    <div class="contenido-perfil">
                        <img src="~/img/1153861.png" />
                    </div>
                    <div class="perfil">
                        <div id="nombre-usuario" class="nombre-usuario">Jesús C</div>
                        <div id="nombre-rol" class="nombre-rol">Admin</div>
                    </div>
                    <a href="/index.html"><i class="bx bx-log-out ,salir-icono"></i> </a>
                </div>
            </li>
        </ul>
    </div>



    <script type="module" src="./js/navbar.js"></script>
    <div class="container">
        <main role="main" class="pb-3" style="margin-left:200px; margin-right:5px">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
